@import url("assets/scss/_helpers.scss");

.contentWrap {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.contentContainer {

}
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B4B65;
}
.formMaintain {
    width: pxtorem(800);
    height: pxtorem(400);
}
