.contentContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/images/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.formContainer {
    background-color: #3B4B65;
}
