.login-form-button {
  width: 300px;
}

.account {
  font-size: 20px;
  vertical-align: middle;
}

.formWrap {
  box-shadow:
  26px 17px 80px rgba(0, 0, 0, 0.07)
}

.formContain {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  padding-right: 8px;
  background-color: rgb(236, 243, 245);
}
.formItem {
  margin-bottom: 0;
}
.input {
  background-color: rgb(236, 243, 245) !important;
}