$filer-color: rgb(255, 255, 255, .2);
$max-width: 1920px;
$max-height: 1080px;

.content {
  position: relative;
  background: rgb(237,242,247);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  position: fixed;
  top: 150px;
  right: 150px;
  left: 150px;
  bottom: 150px;
  margin: auto;
  background: rgb(248, 250, 251);
  border-radius: 35px;
  box-shadow:
  0.2px 0px 3.6px rgba(0, 0, 0, 0.024),
  0.5px 0px 10px rgba(0, 0, 0, 0.035),
  1.2px 0px 24.1px rgba(0, 0, 0, 0.046),
  4px 0px 80px rgba(0, 0, 0, 0.07)
}
.header {
  background: rgb(248, 250, 251);
  display: flex;
  align-items: center;
  color: #2599E7;
  height: 120px;
}

.side {
  background: rgb(248, 250, 251);

}

.ContentDAO {
  background: rgb(248, 250, 251);
  padding: 120px;

  .row {
    width: 100%;
    height: 100%;

    .col {
      width: 600px;
      height: 100%;
    }
  }
}

.logo {
  width: 36px;
  height: 36px;
  font-size: 36px;
  vertical-align: baseline;
}
.iconButton {
  font-size: 36px;
  display: inline-block;
}
.title {
  font-size: 24px;
}

.carousel {
  width: 1200px;
  height: 600px;
  border-radius: 18px;
  overflow: hidden;
}

.img {
  width: 1200px;
  height: 600px;
  display: block;
  margin: auto;
  border-radius: 18px;

}
@media screen and (max-width:960px) {
  .carousel{
    display: none;
  }
}


.contentWrap {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.7);

  &::before {
    content: "";
    //position: absolute;
    //top: 15px;
    //right: 15px;
    //left: 15px;
    //bottom: 15px;
    //background: url(../../assets/images/img.png) 100% 100% / cover no-repeat;
    ///* 新增filter属性 */
    //filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 5px #000) drop-shadow(0px 0px 5px #000) drop-shadow(0px 0px 5px #000);
  }

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    z-index: 1;
    flex: 1;
    filter: drop-shadow(0px 0px 5px $filer-color) drop-shadow(0px 0px 5px $filer-color) drop-shadow(0px 0px 5px $filer-color) drop-shadow(0px 0px 5px $filer-color);

    .formMaintain {
      width: 375px;
      height: 667px;
      background-color: $filer-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
