@font-face {
  font-family: 'appfont-light';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_svrf30l36t8.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_svrf30l36t8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_svrf30l36t8.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_svrf30l36t8.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_svrf30l36t8.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_svrf30l36t8.svg#AlibabaPuHuiTiL') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'appfont-bolder';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_eyvhv7qtxq4.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_eyvhv7qtxq4.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_eyvhv7qtxq4.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_eyvhv7qtxq4.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_eyvhv7qtxq4.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_eyvhv7qtxq4.svg#AlibabaPuHuiTiH') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'appfont-medium';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_m0pdu2y8jz.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_m0pdu2y8jz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_m0pdu2y8jz.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_m0pdu2y8jz.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_m0pdu2y8jz.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_m0pdu2y8jz.svg#AlibabaPuHuiTiM') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'appfont-bold';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_pvenrgvnm5g.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_pvenrgvnm5g.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_pvenrgvnm5g.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_pvenrgvnm5g.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_pvenrgvnm5g.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_pvenrgvnm5g.svg#Alibaba-PuHuiTi-Bold') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'appfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_088a0wpkdisk.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_088a0wpkdisk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_088a0wpkdisk.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_088a0wpkdisk.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_088a0wpkdisk.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_088a0wpkdisk.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}
